.checkout-container { 
	width: 55%; 
	min-height: 90vh; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	margin: 50px auto 0; 

	@media screen and (max-width: 1024px) {
		width: 75%;
	}

	@media screen and (max-width: 800px) {
		width: 90%;
		margin: 30px auto 0;
	}

	@media screen and (max-width: 500px) {
		width: 100%;
		margin: 20px auto 0;
	}

	.checkout-header { 
		width: 100%; 
		padding: 10px 0; 
		display: flex; 
		justify-content: space-between; 
		border-bottom: 1px solid darkgrey; 

		@media screen and (max-width: 500px) {
			display: none;
		}

		.header-block { 
			text-transform: capitalize; 
			width: 23%; 

			&:last-child { 
				width: 8%; 
			} 
		} 
	} 

	.total { 
		margin-top: 30px; 
		margin-left: auto; 
		font-size: 36px; 

		@media screen and (max-width: 800px) {
			font-size: 28px;
			margin-top: 20px;
		}

		@media screen and (max-width: 500px) {
			font-size: 24px;
			margin-left: 0;
			width: 100%;
			text-align: center;
		}
	} 
}  