.sign-in-container {
	display: flex;
	flex-direction: column;
	width: 380px;

	@media screen and (max-width: 500px) {
		width: 100%;
		max-width: 380px;
	}

	h2 {
		margin: 10px 0;

		@media screen and (max-width: 500px) {
			font-size: 20px;
		}
	}

	.buttons-container {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 500px) {
			flex-direction: column;
			gap: 10px;
		}
	}
}