.category-preview-container { 
	display: flex; 
	flex-direction: column; 
	margin-bottom: 30px; 

	.title { 
		font-size: 28px; 
		margin-bottom: 25px; 
		cursor: pointer; 

		@media screen and (max-width: 800px) {
			font-size: 22px;
			margin-bottom: 15px;
		}
	} 

	.preview { 
		display: grid; 
		grid-template-columns: repeat(4, 1fr); 
		column-gap: 20px; 

		@media screen and (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 20px;
		}

		@media screen and (max-width: 500px) {
			grid-template-columns: 1fr;
			column-gap: 0;
		}
	} 
}