.authentication-container {
	display: flex;
	justify-content: space-between;
	margin: 30px auto;
	max-width: 800px;

	@media screen and (max-width: 800px) {
		flex-direction: column;
		gap: 20px;
		margin: 20px auto;
		padding: 0 15px;
	}
}